<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> -->
        Recipe Book
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
          <a class="navbar-item" 
             routerLinkActive="active-link" 
             routerLink="/recipes">
          Recipes
          </a>       

        <a class="navbar-item" 
           routerLinkActive="active-link" 
           router
           routerLink="/shopping-list">
           Shopping List
        </a>    
  
        <!-- dropdown menu option -->
        <div class="dropdown" appDropdown>

             <div class="navbar-item has-dropdown">
              <a class="navbar-link">
                Manage
              </a> 
            </div>
    
             <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a class="navbar-item" (click)="printSomething()">
                Save Data
              </a>

              <a class="navbar-item">
                Fetch Data
              </a>
          </div> 
        </div> 

        </div>
 


  


 
      </div> 
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
