.active-link {
    background-color: hsl(204, 71%, 39%)!important;
    color: white; 
}

a.navbar-item:hover {
    color: black;
}

a.navbar-item:focus {
    /* // background-color: #fafafa; */
     color: yellow;
 }