<form class="box" 
      [formGroup]='recipeForm' 
      (ngSubmit)="onSubmit()">
    <h1 
      class="subtitle">Edit Recipe
    </h1>
    <div class="field is-grouped">
        <div class="control">
            <button 
                   type="submit" 
                   class="button is-link" 
                   [disabled]="!recipeForm.valid">Save
            </button>
        </div>
        <div class="control">
            <button 
                   type="button" 
                   class="button is-light">Cancel
            </button>
        </div>
    </div>

    <div class="field">
        <label class="label">Name</label>
        <div class="control">
            <input 
                 id="name" 
                 class="input" 
                 type="text" 
                 formControlName="name" 
                 placeholder="Text input" >
        </div>
    </div>

    <div class="field">
        <label class="label">Image Path</label>
        <div class="control">
            <input 
            id="imagePath" 
            class="input" 
            type="text" 
            formControlName="imagePath" 
            placeholder="Enter Image path"
            #imagePath>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <img 
                [src]="imagePath.value" 
                 alt="">
        </div>
    </div>

    <textarea name="description" 
              id="description" cols="30" rows="6" 
              class="textarea" 
              formControlName="description"
            placeholder="Enter ingredient description">
    </textarea>

     
    <div>
        <div formArrayName="ingredients" 
             *ngFor="let ingredientCtrl of controls; let i = index">
            <div class="columns" [formGroupName]="i">
                <div class="field column">
                    <div class="control">
                        <input 
                             class="input" 
                             type="text" 
                             formControlName="ingredientname">
                    </div>
                </div>
    
                <div class="field column">
                    <div class="control">
                        <input 
                              class="input" 
                              type="number" 
                              formControlName="ingredientamount">
                    </div>
                </div>
    
                <div class="control column">
                    <button 
                           type="button" 
                           class="button is-link" 
                           (click)="onDeleteIngredient(i)">X
                    </button>
                </div>
            </div>         
        </div>
        <hr>
        <button 
               type="button" 
               class="button  is-primary" 
               (click)="onAddIngredient()">Add Ingredients
        </button>
    </div>
</form>