<div>
    <div class="m-2">
        <button class="button is-primary">New Recipe</button>
    </div>

    <div class="is-flex m-1" *ngFor="let recipe of recipes">
        <div id="recipe-info" class="has-background-grey-light pl-1 mr-1"> 
            <h4>{{recipe.name}}</h4>
            <p>{{recipe.description}}</p>            
        </div>     
        <img src="{{ recipe.imagePath }}" alt="{{ recipe.name }}" class="ml-1" style="max-height: 50px">  
    </div>
    <app-recipe-item></app-recipe-item>
</div>