<div class="columns">
    <div class="column is-half">
        <form action="">
            <div class="is-flex is-flex-direction-row">
                <div class="field mr-3">
                    <label class="label">Name</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Enter name">
                    </div>
                </div>
                <div class="field  mr-3">
                    <label class="label">Amount</label>
                    <div class="control">
                        <input class="input" type="number" placeholder="Amount">
                    </div>
                </div>              
            </div>
            <div class="is-flex is-flex-direction-row">
                <button class="button" class="button is-success mr-2" type="submit">Add</button>
                <button class="button" class="button is-danger mr-2" type="button">Delete</button>
                <button class="button" class="button is-danger-light mr-2"type="button">Clear</button> 
            </div>
        </form>
    </div>

</div>